{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
Бронирование билета
{% endblock %}

{% block content %}
    <h1>Бронирование билета</h1>
    <form method="post" id="registrationForm">
        {% csrf_token %}
        {{ form.name_visitor }}<br>
        {{ form.last_name_visitor }}<br>
        {{ form.email_visitor }}<br>
        <select name="title_movie" id="select_title_movie" class="form-control">
        </select>
        <select name="date_time_show" id="select_date_show" class="form-control">
        </select>
        {{ form.hall }}<br>
        {{ form.place }}<br>
        <br>
        <br>
        <button class="btn btn btn-success" type="submit">Забронировать</button>
        <H5>{{ sucse }}</H5>
    </form>
{% endblock %}
